API_ID=20244111 # get this value from my.telegram.org
API_HASH=b76d27da2a4220fe109fe9ef0e866530 # get this value from my.telegram.org
BOT_TOKEN=5937674659:AAGAPxJ5u5DjVSpBNEOdmLKdmUpqf6k9ZyY # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://kfakeid9:Jobijobi1@musicdb.urlvere.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001792384197 # get this value from in your log group 
MUSIC_BOT_NAME=MohanishX Music Bot # your music bot name 
STRING_SESSION=BQCaDhqYP2wA7FfhByPw7vmWiGMHgSwWw_x8vQNud4owJdkKyM8ZBpT1nvZmoZdDO6o-sQcFfBA2Sw-t1kn4lisXYGKh-QqE6V5tii-KxK5ntFqGbx6C9n2_KUuZ9yketxMRunc8yEF9u_CeMvflp5QeygRXJV9IHvkIAB4iNig9UXz2yweyUB2fIkTMd8Y2bzJo3goVP6gv6rpYLfdjtIK7P16EuFcfkDTtYogidULh_ZqtlMVsvfoEp0ZFPpQKVM7naZN5f_Cp0aqDtJ7_rMJuaon7zEwTUlRi0TabkIN_NiNaiT-gkmDKSeuhGdJioSMPOJItW-S8Ten4QZfKMWO4AAAAAUwsSyoA
